.heading{
    width: 100%;
    font-size: 45px;
}

.note{
    font-size:18px;    
}

body{
    background-image: url("background.jpg");
    background-size: cover;
}

.div_speed{
    float:left;
}
.speed_img{
    width: 200px;
    border-radius: 100px;
}

.div_volume{
    float:right;
}
.volume_img{
    width: 200px;
    border-radius: 100px;
}

canvas{
    margin-top: 150px;
    border: 5px dashed white;
}
